 <!-- Page d'accueil du site pour toute personne qui se connecte ou qui visite simplement le site -->
<template name="accueil">
    <p class="human">
        <img src="human1.png"/>
        <img src="human2.png"/>
      </p>
    
      <div class="msg"> 
        <p> Envie de vous impliquer ? <br/>
        Trouvez votre mission idéale !
        </p><br/><br/>
        <p> Besoin d'aide ? <br/>
        Trouvez le bénévole idéal !</p><br/>
      </div>
    </template>
