<!-- Page présentant le site (création, pourquoi, ...) -->
<template name ="aPropos">
    <p class="text"> À propos </p>


    <article>
        <p><br/><br/><br/><br/>
            Le but de notre site est de rapprocher les bénévoles et les associations <br/>
            afin qu'ils puissent faire le plus de mission possible. 
         </p>
    </article>


</template>