<!-- Base du site bandeau en haut et bandeau en bas qui seront ensuite présents sur chaque page -->
<body>
    <div id="nom_site">
      <img class="title" id="logo" src="logo.png"/>
      <h1 class="title"> BeHumanus </h1>
    </div>
    
    <!--Menu permettant la gestion de la connexion/déconnexion-->
    <div id="connexion">
      <p> Sélecteur de langues</p>
      <!--Si un utilisateur est connecté, currentUser est défini automatiquement avec le package Accounts si un utilisateur se connecte-->
      {{#if currentUser}}
        <!--Si l'utilisateur est une association (rna présent dans le profil de l'utilisateur que si c'est une association) -->
        {{#if currentUser.profile.rna}}
          <a href="/profilUtilisateurAsso.html">Gérer mon profil</a>
          <!--Si l'utilisateur est un bénévole-->
          {{else}}
          <a href="/profilUtilisateurBene.html">Gérer mon profil</a>
          {{/if}}
        <a class="logout">Se déconnecter</a>
      <!--S'il n'y a pas d'utilisateur de connecté-->
      {{else}}
        <a href="/inscription.html">S'inscrire</a>
        <a href="/connexion.html"> Se connecter</a>
      {{/if}}

    </div>
  
    <!--Menu de navigation de l'application-->
      <ul id = "menu_navigation">
          <li><a href="/"> Accueil </a></li>
          <li><a href="/nospartenaires.html"> Nos partenaires</a></li>
           <!--Si un utilisateur est connecté-->
          {{#if currentUser}}
            <!--Si l'utilisateur est une association, il a accès au bouton de création et de gestion des missions-->
            {{#if currentUser.profile.rna}}
              <li><a href="/createMission.html"> Créer une mission</a></li> 
              <li><a href="/missionsList.html"> Gérer mes missions</a></li>
            <!--Si l'utilisateur est un bénévole, il a accès à l'onglet recherche et gestion de ses missions-->
            {{else}}
              <li><a href="/recherche.html">Rechercher</a></li> 
              <li><a href="/gererMissionBene.html"> Gérer mes missions</a></li>
            {{/if}}
             <!--S'il n'y a pas d'utilisateur de connecté, il n'a pas accès aux fonctionnalités précédentes-->
            {{else}}
          {{/if}}
          <li><a href="/contact.html"> Nous contacter </a></li>
      </ul>
      
      <ul id="bas_de_page">
          <li><a href="/aPropos.html"> A propos </a></li>
          <li><a href="/mentionsLegales.html">Mentions légales </a></li>
          <li><a href="/PoldeConf.html"> Politique de confidentialité</a></li>
      </ul>
      
  </body>