<template name="connexion">
    <!--Formulaire qui permet à l'utilisateur de se connecter-->
    <form>
        <p>
            <label>Email</label>
            <input type="email" name="email" id="email" placeholder="email@example.com"/>
        </p>
        <br/>
        <p>
            <label>Mot de passe </label>
            <input type="password" name="mdp" id="mdp"/>
        </p>
        <br/>
        <button type="submit">Se connecter</button>

    <br/>
    <!-- Lien permettant à la personne de s'inscrire si ce n'est pas encore fait -->
    <a href="./inscription.html">Nouveau ? S'inscrire</a>
    </form>
</template>