<!-- Formulaire de contact permettant de contacter la maintenance du site si besoin  -->
<template name ="contact">

    <form id="FormContact">
        <div id="Contact">
            <p class= "text">Nous contacter</p>
            <br/>
            <p>
                <label class="labContact">Nom</label>
                <input type="text" name="nom" id="nom" value="" />
            </p>
            <br/>
            <p>
                <label class="labContact">Prénom</label>
                <input type="text" name="prenom" id="prenom" value="" />
            </p>
            <br/>
            <p>
                <label class="labContact">Email</label>
                <input type="email" name="email" id="email" placeholder="email@exemple.com">
            </p>
            <br/>
            <p>
                <label class="labContact">Objet</label>
                <select>
                     <option> ... </option>
                     <option> Renseignement </option>
                     <option> Problèmes </option>
                 </select>
            </p>
            <br/>
            <p>
                <textarea id="sujet" name="sujet" rows="6" cols="40" placeholder="Veuillez écrire votre message ici"></textarea>
            </p>
            <br/>
            <br/>
            <p>
                <button type="submit" id="envoyerContact">Envoyer</button>
            </p>
            <br/>

        </div>
    </form>
</template>