<!-- Formulaire pour créer une mission (uniquement pour les associations via différents critères : théme, durée, disponibilité par semaine, ...) -->
<template name="createMission">
      <form class="new-mission">
        <div id="formulaireP1">
            <p>
                <label>Titre</label>
                <input type="text" id="titre" value="" />
            </p>
            <br/>
            <p>
                <label>Thèmes</label>
                <br/>
                <input type="radio" id="themeChoice1"
                       name="themeChoice" value="Pédagogie"/>
                <label for="themeChoice1">Pédagogie</label>
                <input type="radio" id="themeChoice2"
                       name="themeChoice" value="Aide à la personne"/>
                <label for="themeChoice2">Aide à la personne</label> 
                <br/>  
                <input type="radio" id="themeChoice3"
                       name="themeChoice" value="Aide en cas de crise"/>
                <label for="themeChoice3">Aide en cas de crise</label>
                <input type="radio" id="themeChoice4"
                       name="themeChoice" value="Autres" onclick="alert('Veuillez préciser dans le descriptif')"/>
                <label for="themeChoice4">Autres</label>
            </p>
            <br/>
            <p>
                <label for="range">Disponibilité par semaine </label>
                <input type="range" id="dispos" min="0" max="76" step="1" value="0" />
                <span id="range">0h</span>
            </p>
            <br/>
            <p>
                <label>Localisation</label> 
                <input type="text" id="localisation" value="" />
            </p>
            <br/>
            <p>
                <label>Durée de la mission </label>
                <input type="range" id="duree" min="0" max="730" step="1" value="0"/> <!--max=730 car 2 ans = environ 730 jours -->
                <span id="range2">0j</span>
            </p>
        </div>
        <div id="formulaireP2">
            <p>
                <label>Nombre de bénévoles souhaités</label> 
                <input type="number" id="nbBenevoles" value="" min="1"/>

            </p>
            <br/>
            <p>
                <label>Date de départ</label>
                <input type="date" name="depart" id="depart" value=""/>
            </p>
            <br/>
            <p>
                <label>Date de retour</label>
                <input type="date" name="retour" id="retour" value=""/>
            </p>
            <br/>
            <p>
                <label> Description de la mission</label><br/>
                <textarea id="description" name="description" rows="6" cols="40" placeholder="Veuillez décrire la mission ici"></textarea>
            </p>
            <br/>
            <p>
                <button id="btnCreateMission" type="submit">Poster</button>
                <button id="annuleCreateMission">Annuler</button>
            </p>
        </div>
        </form>
    </template>
