<!--Détails d'une mission crée, à laquelle un bénévole peut postuler (fait suite à la recherche d'une mission)-->
<template name="detailsMission">
    {{#each mission}} 
        <div id="detailMission">
            <h1 id="missionTitle">{{titre}} </h1>
            <br/>
            <label>Thème de la mission:</label><li>{{theme}}</li>
            <label>Temps à consacrer à la mission :</label><li>{{dispo}}</li><p> heure(s) par semaine</p>
            <br/>
            <label>Nombre de bénévoles attendus pour la mission :</label><li>{{nombreDeBenevoles}}</li>
            <br/>
            <label>Localisation :</label><li>{{localisation}}</li>
            <label>Durée estimée de la mission:</label><li>{{duree}}</li><p> jours</p>
            <br/> 
            <label>Date de départ :</label><li>{{dateDeDepart}}</li>
            <label>Date de retour :</label><li>{{dateDeRetour}}</li>
            <br/>
            <label>Descriptif :</label><br/><li>{{descriptif}}</li><br/>
            <button id="contacter">Contacter</button>
            <button id="postuler">Postuler</button>

        </div>
        <br/>
    {{/each}}   
</template>
