<!--Affiche la liste des bénévoles qui ont postulé à la mission et permet de les gérer (bouton pour contacter)-->
<template name="gererBenevole">
    {{#each mission}} 
        <div id="missionContainer">
            <h1 id="missionTitle">Nom de la mission : {{titre}} </h1>
            <br/>
            <h3> Liste des bénévoles :</h3>
            <br/>
            <ul id="listeBenevole">
            {{#each benevole in benevoles}}
                <li><div>Nom Prénom : {{nom(benevole)}} {{prenom(benevole)}}
                <img class="phoneIcon" src="phoneIcon.png"/></div>
            </li>
            {{/each}}
            </ul>
        </div>
        <br/>
    {{/each}}   
</template>
