<!--Affiche la liste des missions à laquelle le bénévole a postulé-->
<template name="missionsListBene">  
        {{#each mission}} 
            <div id="missionContainer">
                <input id="missId" name="missId" type="hidden" value={{_id}}>
                <h1 id="missionTitle">{{titre}} </h1>
                <br/>
                <a class="delete">Démissionner</a>
                <label>Thème de la mission:</label><li>{{theme}}</li><br/>
                <label>Temps à consacrer à la mission :</label><li>{{dispo}}</li><p> heure(s) par semaine</p>
                <br/>
                <label>Nombre de bénévoles attendus pour la mission :</label><li>{{nombreDeBenevoles}}</li>
                <br/>
                <label>Localisation :</label><li>{{localisation}}</li>
                <label>Durée estimée de la mission:</label><li>{{duree}}</li><p> jours</p>
                <br/> 
                <label>Date de départ :</label><li>{{dateDeDepart}}</li>
                <label>Date de retour :</label><li>{{dateDeRetour}}</li>
                <br/>
                <label>Descriptif :</label><li>{{descriptif}}</li>
            </div>
            <br/>
        {{/each}}   
    </template>