<!--Formualaire d'inscription (différenciation du bénévole et de l'association)-->
<template name="inscription">
    <form id="ForminscriptionBen">
        <div id="InscriptionBen">
            <p id="nameins">Particulier</p>
            <br/>
            <p>
                <label class="labInscription">Prénom</label>
                <input type="text" name="prenom" id="prenomBen" value="" />
            </p>
            <br/>
            <p>
                <label class="labInscription">Nom</label>
                <input type="text" name="nom" id="nomBen" value="" />
            </p>
            <br/>
            <p>
                <label class="labInscription">Date de naissance</label>
                <input type="date" name="DoB" id="ddN"/>
            </p>
            <br/>
            <p>
                <label class="labInscription">Email</label>
                <input type="email" name="email" id="emailBen" placeholder="email@exemple.com">
            </p>
            <br/>
            <p>
                <label class="labInscription">Mot de passe </label>
                <input type="password" name="mdp" id="mdpBen"/>
            </p>
            <br/>
            <p>
                <label class="labInscription">Confirmer votre mot de passe </label>
                <input type="password" name="mdpconf" id="mdpconfBen"/>
            </p>
            <br/>
            <p>
                <input type="checkbox" id="conditionsBen" name="conditions">
                <label for="conditionsBen" id="labconditions">J'accepte la politique de confidentialité et les conditions d'utilisation</label>
            </p>
            <br/>
            <button id="foot" type="submit">S'inscrire</button>
            <br/>
        </div>
    </form>
    <form id="ForminscriptionAss">
        <div id="InscriptionAss">
            <p id="nameins">Association</p>
            <br/>
            <p>
                <label class="labInscription">Nom de l'association</label>
                <input type="text" name="nom" value="" id="nomAss" />
            </p>
            <br/>
            <p>
                <label class="labInscription">Numéro RNA</label>
                <input type="text" name="nom" value="" id="rna" placeholder="W123456789" />
            </p>
            <br/>
            <p>
                <label class="labInscription">Prénom du président</label>
                <input type="text" name="prenomPres" id="prenomPres" value="" />
            </p>
            <br/>
            <p>
                <label class="labInscription">Nom du président</label>
                <input type="text" name="nomPres" id="nomPres" value="" />
            </p>
            <br/>
            <p>
                <label class="labInscription">Email</label>
                <input type="email" name="email" id="emailAss" placeholder="email@example.com"/>
            </p>
            <br/>
            <p>
                <label class="labInscription">Mot de passe </label>
                <input type="password" name="mdp" id="mdpAss"/>
            </p>
            <br/>
            <p>
                <label class="labInscription">Confirmer votre mot de passe </label>
                <input type="password" name="mdpconf" id="mdpconfAss"/>
            </p>
            <br/>
            <p>
                <input type="checkbox" id="conditionsAss" name="conditions">
                <label for="conditionsAss" id ="labconditions">J'accepte la politique de confidentialité et les conditions d'utilisation</label>
            </p>
            <br/>
            <button id="foot" type="submit">S'inscrire</button>
        </div>
        </form>

</template>
