<template name ="mL">
    <p class="text">Mentions Légales</p>


    <article>
        <p><br/><br/><br/><br/>
            blablabla .....jfvjefbkbkjsqgvkjlbglzbflbg
            dvsdbvjhbsbhsfdsfbdgkjdbfgkbkjbfkbvkjvbsfb
         </p>
    </article>


</template>