<!--Affiche la liste de toutes les missions que l'association connectée a créé-->
<template name="missionsList">  
    {{#each mission}} 
        <div id="missionContainer">
            <input id="missId" name="missId" type="hidden" value={{_id}}>
            <h1 id="missionTitle">{{titre}} </h1>
            <button class="delete">&times;</button><br/>
            <label>Thème de la mission:</label><li>{{theme}}</li><br/>
            <label>Temps à consacrer à la mission :</label><li>{{dispo}}</li><p> heure(s) par semaine</p>
            <br/>
            <label>Nombre de bénévoles attendus pour la mission :</label><li>{{nombreDeBenevoles}}</li>
            <br/>
            <label>Localisation :</label><li>{{localisation}}</li>
            <label>Durée estimée de la mission:</label><li>{{duree}}</li><p> jours</p>
            <br/> 
            <label>Date de départ :</label><li>{{dateDeDepart}}</li>
            <label>Date de retour :</label><li>{{dateDeRetour}}</li>
            <br/>
            <label>Descriptif :</label><li>{{descriptif}}</li>
            <a href="/gererBenevole.html/{{_id}}" class="gererBene">Gérer les bénévoles</a>
        </div>
        <br/>
    {{/each}}   
</template>