<!--Liste de toutes les associations membres du site-->
<template name="nosPartenaires">
    {{#each partenaires}}
    <div id="missionContainer">
        <h1>{{profile.nomAsso}}</h1>
        <br/>
        {{#if profile.description}}
        <p> Description : {{profile.description}}</p>
        <br/>
        {{/if}}
        {{#if profile.creationAsso}}
        <p> Date de création : {{profile.creationAsso}}</p>
        <br/>
        {{/if}}
        {{#if profile.nbMission}}
        <p> Nombre de mission réalisées : {{profile.nbMission}}</p>
        <br/>
        {{/if}}
        {{#if profile.nbActifs}}
        <p> Nombre de bénévoles actifs : {{profile.nbActifs}}</p>
        <br/>
        {{/if}}
        {{#if profile.telephone}}
        <p> Numéro de téléphone : {{profile.telephone}}</p>
        <br/>
        {{/if}}
        {{#if profile.lieuSiege}}
        <p> Localisation du siège : {{profile.lieuSiege}}</p>
        {{/if}}

    </div>
    {{/each}}
</template>