<template name="PoldeConf">
        <p class= "text"> Politique de confidentialité </p>
    
        <article>
            <p><br/><br/><br/><br/>
            Voici la politique de confidentialité de notre site web 
            Comment utilisons-nous vos données ? 
                ................................
            </p>
        </article>
</template>