<!--Gestion de profil du bénévole connecté-->
<template name="profilUtilisateurBene" class="profilUser">
    <form class="publicProfile">
        {{#with currentUser}}
        <h3 id="titreProfil">Profil public</h3>
        <br/>
        <p>
            <label class="lab">Description</label>
            <textarea id="description" name="description" rows="6" cols="40" placeholder="Veuillez vous décrire ici" value={{profile.description}}></textarea>
        </p>
        <br/>
        <p>
            <label class="lab">Téléphone</label>
            <input type="text" id="telephone" value={{profile.telephone}} />
        </p>
        <br/>
        <p>
            <label class="lab">Numéro carte d'identité</label>
            <input type="text" id="numIdentite" value={{profile.numIdentite}} />
        </p>
        <br/>
       
        <p>
            <label class="lab">Centres d'intérêt</label>
            <input type="text" id="interets" value={{profile.interets}} />
        </p>
        <br/>
        <p>
            <label class="lab">Profession</label>
            <input type="text" id="profession" value={{profile.profession}} />
        </p>
        <br/>
        <p>
            <label class="lab">Situation Familiale</label>
            <input type="text" id="situationFamiliale" value={{profile.situationFam}} />
        </p>
        <br/>
        <h3 id="titreProfil" class="compte">Compte</h3>
        <br/>
        <p>
            <label class="lab">Email</label>
            <input type="email" name="email" id="email" placeholder="email@exemple.com" value={{emails.[0].address}} />
        </p>
        <br/>
        <button class="centerThing" type="submit">Valider les changements</button>
        {{/with}} 
    </form>
    <br/>
    <a class="centerThing bottom deleteAccount">Supprimer mon compte</a>
</template>