<!--Gestion de profil de l'association connectée-->
<template name="profilUtilisateurAsso" class="profilUser">
    <form class="publicProfile">
        {{#with currentUser}}
        <h3 id="titreProfil">Profil public</h3>
        <br/>
        <p>
            <label class="lab">Description</label>
            <textarea id="description" name="description" rows="6" cols="40" placeholder="Veuillez vous décrire ici" value={{profile.description}}></textarea>
        </p>
        <br/>
        <p>
            <label class="lab">Téléphone</label>
            <input type="text" id="telephone" value={{profile.telephone}} />
        </p>
        <br/>
        <p>
            <label class="lab">Nombre d'actifs</label>
            <input type="number" id="nbActifs" value={{profile.nbActifs}} min="1"/>
        </p>
        <br/>
       
        <p>
            <label class="lab">Date de création</label>
            <input type="date" name="creationAsso" id="creationAsso" value={{profile.dateCreation}}/>
        </p>
        <br/>
        <p>
            <label class="lab">Nombre de missions réalisées</label>
            <input type="number" id="nbMission" value={{profile.nbMissionsRealisees}} min="1"/>
        </p>
        <br/>
        <p>
            <label class="lab">Lieu du siège</label>
            <input type="text" id="localisation" value={{profile.lieuSiege}} />
        </p>
        <br/>
        <h3 id="titreProfil" class="compte">Compte</h3>
        <br/>
        <p>
            <label class="lab">Email</label>
            <input type="email" name="email" id="email" placeholder="email@exemple.com" value={{emails.[0].address}} />
        </p>
        <br/>
        <button class="centerThing" type="submit">Valider les changements</button>
        {{/with}} 
    </form>
    <br/>
    <a class="centerThing bottom deleteAccount">Supprimer mon compte</a>
</template>