<!-- Formulaire de recherche de missions ainsi que la liste des missions correspondantes -->
<template name="recherche" id="rechercheTemplate">  
    <div id="filtreRecherche">
        <form id="formRecherche">
        <input type="text" name="recherche" id="recherche" value="" placeholder="Recherche" />
        <p>
            <label>Thèmes</label>
            <br/>
            <input type="radio" id="themeChoice1"
                name="themeChoice" value="Pédagogie"/>
            <label for="themeChoice1">Pédagogie</label>
            <input type="radio" id="themeChoice2"
                name="themeChoice" value="Aide à la personne"/>
            <label for="themeChoice2">Aide à la personne</label> 
            <br/>
            <input type="radio" id="themeChoice3"
                name="themeChoice" value="Aide en cas de crise"/>
            <label for="themeChoice3">Aide en cas de crise</label>
            <input type="radio" id="themeChoice4"
                name="themeChoice" value="Autres"/>
            <label for="themeChoice4">Autres</label>
            <br/>
            <label for="autreTheme">Si autre précisez: </label>
            <input type="text" id="autreTheme" value=""/>
        </p>
        <br/>
        <p>
            <label for="range">Disponibilité par semaine </label>
            <input type="range" id="dispos" min="0" max="76" step="1" value="0" />
            <span id="rangeDispo">0h</span>
        </p>
        <br/>
        <p>
            <label>Localisation</label> 
            <input type="text" id="localisation" value="" />
        </p>
        <br/>
        <p>
            <label for="range">Périmetre</label>
            <input type="range" id="perimetre" min="0" max="200" step="1" value="0" />
            <span id="rangePerimetre">0km</span>
        </p>
        <br/>
        <p>
                <label>Durée de la mission </label>
                <input type="range" id="duree" min="0" max="730" step="1" value="0"/> <!--max=730 car 2 ans = environ 730 jours -->
                <span id="rangeDuree">0j</span>
        </p>
        <br/>
        <button type="submit" id="btnStartSearch">Rechercher</button>
        </form>
    </div>
    <div id="resultatRecherche">
        {{#each mission}} 
            <div id="missionContainer">
                <h1 id="missionTitle">{{titre}} </h1>
                <br/>
                <label>Thème de la mission:</label><li>{{theme}}</li>
                <a id="plusDetails" href="./detailsMission.html/{{_id}}">Plus de détails</a>
            </div>
            <br/>
        {{/each}}   
    </div>
</template>