#formulaireP1{
    float: left;
    margin-left: 8%; 
    width: 45%;
    margin-bottom: 5%;
    
} 
#formulaireP2{
    float: right;
    width: 45%;
    margin-bottom: 5%;
}

.new-mission {
    width: 100%;
}
label{
    font-weight: bold;
}
input[type=range]{
    width: 30%;
}
#btnCreateMission, #annuleCreateMission {
    margin-left: 100%;
	border:none;
    margin-bottom: 10%;
    width: 100%;
}
