#contacter, #postuler{
    float: right;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    width: 15%;
    height: 40px;
}


#detailMission {
    width: 90%;
    margin-left: 5%;
}

