#InscriptionBen{
    float: left; 
} 
#InscriptionAss{
    float: right;    
    padding-left: 5px;
}

#ForminscriptionAss {
    border-left: solid 1px black;
}
/* #ForminscriptionBen{
    position: relative;
    top:-60px;
    margin-top: 0px;
} */

#ForminscriptionBen, #ForminscriptionAss {
    width: 45%;
}
#ForminscriptionBen p, #ForminscriptionAss  p {
    display: inline-block;
}

label{
    font-weight: bold;
}

.labInscription {
	display: block;
	width: 250px;
	float: left;
}

#foot {
    margin-left: 30%;
    margin-bottom: 60px;
	border:none;
}

#nameins {
    position: relative;
    left: 40%;
    font:bold 17px Arial;
    text-decoration: underline;
}