#logo {
  height: 2cm;
  margin-left: 3%;
}
#connected{
  height: 1cm;
  margin-top: 10%;
}

body {
  margin:0px;
  font-family:Georgia;
}

div * {
  display: inline-block;
  padding: 3px; 
}

#nom_site *{
  display: inline;
}

#nom_site{
  padding: auto;
}

#connexion {
  position: absolute;
  right: 5px;
  top: 2px;
}

#connecte {
  position: absolute;
  right: 40px;
  top: 2px;
}

#mission {  
  height: 10cm;
  position: relative;
  top: 90px;
}


#menu_navigation {margin:0;display:inline-block;float:none;height:50px;background: #045963; position:relative;list-style:none;padding:0px;width:100%;}  
#menu_navigation li {padding:0;float:left;height:50px;position:relative;}  
#menu_navigation li:hover, #menu_navigation li.onhover {background: #05474f;}  
ul#menu_navigation a {padding:0 30px;line-height:50px;font-size:16px;font-weight:bold;color:#FFFFFF;display:block;outline:0;text-decoration:none;}  

#bas_de_page {margin:0;float:none;height:50px;background: #293133;position:fixed;list-style:none;padding:0px;width:100%;bottom: 0;}  
#bas_de_page li {padding:0;float:left;height:50px;position:relative;}   
ul#bas_de_page a {padding:0 30px;line-height:50px;font-size:12px;font-weight:bold;color:#FFFFFF;display:block;outline:0;text-decoration:none;}  
 
.human {
  float:right;
  margin-top: 3%;
  margin-right: 4%;
}
.msg {
  font-weight: bold;
  margin-left: 6%;
  margin-top: 5%;
}
button {
  border-radius:8px;
	background:#181615;
	font:bold 13px Arial;
  color:#fff;
}
.text {
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  vertical-align: top;
}
.text2 {
  margin-left: 0%;
}
.m{ /* position image recherche
  trouver comment superposer les images à la verticale  */
  float: right; 
  border: solid black 1px;
}
.pos{  /*position texte au dessus des images de la recherche */
  margin-right: 0%; /* ne peut pas fonctionner car image .m en float:right*/
  
}
