#missionContainer {
    border-width:1px;
    border-style: solid;
    border-color:black;
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
}
#missionTitle {
    margin-left: 10%;
    
}
.delete{
   float: right;
}
#missionContainer label{
    margin-left: 2%;
    margin-bottom: 2%;
}

.gererBene {
    float: right;
}

:last-child{
    margin-bottom: 15px;
}

#listeBenevole {
    list-style-type: disc;
}

#listeBenevole li {
    display: list-item;
    margin-left: 20px;
}

.phoneIcon {
    height: 5mm;
    margin-bottom: 0px;
    position: relative;
    bottom: -5px;
}
