#titreProfil {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}

.lab {
    display: block;
	width: 250px;
	float: left;
}

.centerThing {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}

.publicProfile {
    width: 100%;
}

.bottom {
    margin-bottom: 60px;
}

.compte {
    border-top: black 1px solid;
}