#filtreRecherche{
    float: left; 
    background-color: cadetblue;
    width: 34%;
    margin-bottom: 55px;
} 

#resultatRecherche{
    float: right;    
    width: 64%;
}

#plusDetails {
    float: right;
}

#recherche, #btnStartSearch {
    margin-left: 30%;
}